[submodule "external/WORLD"]
	path = external/WORLD
	url = https://github.com/r9y9/World-cmake.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON.git
